<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Reporting Project">
	<listeners>
		<listener class-name="listener.CustomListener" />
	</listeners>

	<suite-files>
		<suite-file path="./Suite_A.xml" />
		<suite-file path="./Suite_B.xml" />
	</suite-files>

</suite> <!-- Suite -->
