<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
	<listeners>
		<listener class-name="dataDrivenFramework.dataDriven.CustomListener" />
	</listeners>

	<suite-files>
		<suite-file path="./Portfolio.xml" />
		<suite-file path="./stockSuite.xml" />

	</suite-files>

</suite> <!-- Suite -->
